body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin: 20px auto;
}