.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}