<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div th:fragment="job-listings">
        <th:block th:if="${jobsResults} and ${jobsResults.size()}">

            <h3 th:text="${jobsResults.size()} + ' Result(s): '"></h3>

            <th:block th:each="jobListing : ${jobsResults}">
                <table class="job-listing">
                    <tr th:each="field, idx : ${jobListing}" th:class="${idx.odd} ? 'odd'">
                        <td th:text="${field.key} + ': '"></td>
                        <td th:unless="${field.key} == 'name'"><a th:href="@{/list/jobs(column=${field.key}, value=${field.value})}" th:text="${field.value}"></a></td>
                        <td th:if="${field.key} == 'name'" th:text="${field.value}"></td>
                    </tr>
                </table>

            </th:block>




        </th:block>
    </div>

</body>
</html>