<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3 th:if="${jobs} and ${jobs.size()}" th:text="${jobs.size()} + ' Result(s)'"></h3>
    <h3 th:unless="${jobs} and ${jobs.size()}" th:text="${jobs.size()} + ' Result(s)'"></h3>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:if="${jobs} and ${jobs.size()}">

        <div th:each="job : ${jobs}">
            <table class="job-listing">
                <tbody>
                <tr th:each="j, idx : ${job}" th:class="${idx.odd} ? 'odd'">
                    <td th:text="${#strings.capitalizeWords(j.key)}"></td>
                    <td>
                        <span th:text="${j.value}" th:if="${j.key} == 'name'"></span>
                        <span><a th:text="${j.value}" th:href="@{/list/jobs(column=${j.key},value=${j.value})}" th:unless="${j.key} == 'name'"></a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>