<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        <h2>View All</h2>
        <ul>
            <li th:each="column : ${columns}">
                <a th:href="@{/list/values(column=${column.key})}" th:text="${column.value}"></a>
            </li>
        </ul>
    </div>

</body>
</html>