<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${items} and ${items.size()}">

        <table>
            <tr th:each="item, idx : ${items}" th:class="${idx.odd} ? 'odd'">
                <td><a th:href="@{/list/jobs(column=${column},value=${item})}" th:text="${item}"></a></td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>