<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3 th:if="${jobs} and ${jobs.size()}" th:text="${jobs.size()} + ' Result(s)'"></h3>
    <h3 th:unless="${jobs} and ${jobs.size()}" th:text="${jobs.size()} + ' Result(s)'"></h3>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:each="job : ${jobs}">
        <table class="job-listing">
            <tbody>
            <tr>
                <td th:="@{/search/results(column=${column.value},value=${job})}" th:text="${job}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>