<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <h3 th:text="${listTitle}"></h3>

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <table th:each="job : ${jobs}" class="job-listing">
        <tr>
            <td>Position Type</td><td th:text="${job['position type']}"></td>
        </tr>
        <tr>
            <td>Name</td><td th:text="${job['name']}"></td>
        </tr>
        <tr>
            <td>Employer</td><td th:text="${job['employer']}"></td>
        </tr>
        <tr>
            <td>Location</td><td th:text="${job['location']}"></td>
        </tr>
        <tr>
            <td>Core Competency</td><td th:text="${job['core competency']}"></td>
        </tr>
    </table>

    <table>
        <tr th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
            <!--
            <td><a th:href="@{/list/jobs(column=${column},value=${item})}" th:text="${item}"></a></td>
            <td> <span th:text="${item}"></span></td>
            -->
            <td>
            <span th:text="${job['name']}"></span> :
            <span th:text="${job['position type']}"></span> ::
            <span th:text="${job['employer']}"></span>,
            <span th:text="${job['location']}"></span>
            [ <span th:text="${job['core competency']}"></span> ]
            </td>
        </tr>
    </table>


</div>

</body>
</html>