<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <div th:if="${jobs} and ${jobs.size()}">
        <h2 th:text="${jobs.size()} + ' Result(s)'"></h2>

        <div th:each="job: ${jobs}">
            <table class="job-listing">
                <tr th:each="item, idx: ${job}" th:class="${idx.odd} ? 'odd'">
                    <td th:text="${item.key}"></td>
                    <td th:text="${item.value}"></td>
                </tr></table>
        </div>

    </div>

    </div>

</body>
</html>